@font-face {
    font-family:"teploFont";
    src: url(../fonts/gogoia-regular.otf);
    }
body{
    margin:0;
    font-family:"teploFont";
}
.container{
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}
.header{
    background-image: url(../img/BACK.PNG);
    height: 100vh;
    background-size: cover;
}
/* back-ground repeat no repeat нужно прописать если картинки повторяются */
/* cover обозначает что картинка будет растягиваться на весь экран */
.header-line{
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
/* justify-content space-around с помощью этого можно расположить элементы
на расстоянии друг от друга */
/* display flex располагает элементы в один ряд */
/* align-items выравнивает все элементы по центру */
.nav-item{
    color:white;
    text-decoration: none;
    margin-right: 25px;
    transition: color 0.3s linear;   
    font-size: 30px; 
}
/* transition color linear с помощью этого цвет при наведении на кнопку будет 
меняться плавно в течении того времени которое ты указываешь */
.nav-item:hover{
    color: black;

}
/* text-decoration убирает подчеркивания или любые другие декорирования текста */
.cart{
    border-right: 1px solid #FFFFFF;
    padding-right: 10px;
    height: 50px;
    position: relative;
}
.cart-img{
    position: absolute;
    top: 11px;
    right: 5px;
    
}
.num{
    color: white;
    text-decoration: none;
    transition: color 0.3s linear;
    font-size: 30px;
}
.num:hover{
 color: black;
}
/* hover псевдокласс означающий при наведении */
.phone-text{
    font-size: 30px;
    color:white;
}
.phone-holder{
    display: flex;
    align-items: center;
}
.button{
    border-radius: 5px;
color: white;
text-decoration: none;
padding :7px 9px;
transition: all 0.3s;
background-color: rgba(235,229,217, 0.1);
font-size: 25px;
}
.button:hover{
    background-color: rgba(235,229,217, 0.3);
    
}
.header-down{
    position: relative;
}
.header-title{
color: white;
font-size: 50px;
text-align: center;
position: absolute;
left: 0;
margin-top: 222px;
margin-bottom: 12px;
}
.header-subtitle{
    color:white;
    font-size: 80px;
    text-align: center;
}
.header-suptitle{
    font-size: 36px;
}
.header-suptitle::after{
    position: absolute;
    content: '';
    height: 2px;
    width: 61px;
    background-color: white;
    top: 177px;
    left: 228px;
}
.header-suptitle::before{
    position: absolute;
    content: '';
    height: 2px;
    width: 61px;
    background-color: white;
    top: 177px;
    left: 56px;
}
.header-button{
    border-radius: 8px;
    color: white;
    padding :7px 9px;
    transition: all 0.3s;
    background-color: rgba(235,229,217, 0.1);
    font-size: 35px;
    text-decoration: none;
    }

.header-button:hover{
    background-color: rgba(235,229,217, 0.3);
}
.cards-holder{
    display: flex;
    justify-content:space-between;
}
/* justify -contetn space-between элементы будут распологаться в строку */
.card-image{
    display: flex;
    justify-content:center;
    margin-bottom: 5px;
}
.card-title{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.card-desc{
    text-align: center;
    justify-content: center;
}
.card{
    width: 349px;
    box-shadow: 10px 10px 40px 20px #0000001A;
    border-radius: 15px;
    padding :10px 10px;
    transition: all 0.3s;
    background-color: rgba(235,229,217, 0.1);
    font-size: 35px;
    text-decoration: none;
    margin-top: -70px

}
.history{
    margin-top: 166px;
 padding-bottom: 200px;
}
.card-title span{
    color: #ffd700;
}
.history-title{
    font-size: 50px;
    text-align:center;
    width: 444px;
}
.history-disc{
    font-size: 25px;
    text-align: center;
    margin-top: 21px;
    line-height: 22px;
    width: 444px;
}
.history-number{
    display:flex;
    justify-content: center;
    width: 444px;
    font-size: 30px;
    margin-left: 30px;
}
.number-item span{
    display: block;
    text-align: center;
    color: black;
}
.number-item{
    margin-right: 60px;
    font-size: 40px;
    color: #ffd700;
    text-align: center;
}
.history-holder{
    display: flex;
    height:520px ;
    align-items: center;
    gap:10px;
}
/*box-sizing border-box выше
заданной границы не5 будет увеличиваться
это расчет высоты и ширины внутри
блока*/
.history-immages{
   position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 6px;
    flex: 1;
    width: 50%;
    height: 100%;
}
/*gap это расстояние между flex элементами в
flex container грубо говоря расстояние между карточками*/
.images-1{
    width: 355px;
    height: 244px;

}
/*z -index означает о том что насколько объект выше другого
как слоями*/
.images-2{
    width: 355px;
    height: 244px;

}
.images-3{
    width: 335px;
    height: 503px;

}
.history-info{
    background-color: rgba(235,229,217,0.1);
    border-radius: 15px;
    box-shadow: 10px 10px 40px 20px #0000001A;
    padding: 10px;
}
.left-title{
    align-items: center;
    font-size: 50px;
    color: #FFFFFF;
    -webkit-text-stroke-width: 1px;
}
.btn-right{
    border-radius: 5px;
    color: white;
    text-decoration: none;
    padding :14px 18px;
    background-color: rgba(235,229,217, 0.1);
    font-size: 30px;
}
.new-block{
    background-image:url(../img/21.jpg);
    position: relative;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 357px;

}
/*position absolute независимый элемент от остальных
position relative зависимый элемент от предыдущего или от других элементов
в контейнере*/

.left-text{
    font-size: 24px;
}
.block-holder{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 357px;
}
.history-immages img:hover{
    transform: scale(110%);
}
/*scale увеличение масштаба карточки*/
/*hover псеводокласс обозначающий
при наведении курсора будет срабатывать заданные стили*/
.history-immages img{
    transition: 0.3s ease-in-out;
}
.button-right:hover{
    transform: scale(110%);
}
.button-right{
    transition: 0.3s ease-in-out;
}
.int-title{
    font-size: 50px;
    text-align: center;
    padding-top: 82px;
    padding-bottom: 62px;
}
.int-img {
    position: relative;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    gap: 4px;
    margin: auto 0;
    justify-content: center;
}
.int-img > div{
    width: 300px;
    height: 400px;
    overflow: hidden;
    transition: 0.3s ease-in-out;
    border-radius: 15px;
    opacity: 80%;
}
.int-img > div:hover {
    transform: scale(110%);
    z-index: 5;
    border-radius: 5px;
    opacity: 100%;
}
.int-img > div > img{
    width: 100%;
    height: 100%;
    transition: 5s ease-in-out;
}
.int-img > div > img:hover{
    transform: scale(130%);
}
.int-img > img{
    width: 300px;
    height: 400px;
}
.int-img > img:hover{
    transform: scale(120%);
}
 .int-img {
    transition: 0.3s ease-in-out;
}
 .menu-title{
     font-size:50px;
     position: relative;
     display: flex;
     text-align: center;
     background-color: #a07950;
     padding-top: 40px;
     padding-bottom: 40px;
     color: #FFFFFF;

     margin-top: 82px;
     /*padding-bottom: 62px;*/
     justify-content: center;
 }

 .menu-img {
     position: relative;
     display: flex;
     flex-direction:column;
     justify-content: center;
     align-items: center;
     flex-wrap: wrap;
     gap: 4px;
 }
 .menu-kitchen > img {
     width: 300px;
     height: 500px;
     transition: 0.3s ease-in-out;
 }

.menu-bar > img {
    width: 300px;
    height: 500px;
    transition: 0.3s ease-in-out;
}
.menu-kitchen > img:hover{
    transform: scale(130%);
}
.menu-kitchen {
    transition: 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}
/*.menu-bar > img:hover{*/
/*    transform: scale(130%);*/
/*}*/

@media (max-width: 960px) {

    .menu-bar > img {
        height: 100%;
        width: 100%;
        transition: 0.3s ease-in-out;
    }
    .menu-bar {
        margin: 20px 0px;
    }

    
}

@media (min-width: 960px) {

    .animate-image-inner > img {
        transition: 0.3s ease-in-out;
    }
    .animate-image-inner > img:hover{
        transform: scale(110%);
    }

}

.menu-bar {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}
/*.menu-divider {*/
/*    width: 100%;*/
/*    height: 30px;*/
/*    background-color: #a07950;*/
/*    margin-top: 10px;*/
/*    margin-bottom: 50px;*/
/*    transform: rotate(10deg);*/
/*}*/
.title-kitchen{
    font-size:40px;
    position: relative;
    display: flex;
    text-align: center;
    padding-top: 82px;
    padding-bottom: 62px;
    justify-content: center;
}
.title-bar{
    font-size:40px;
    position: relative;
    display: flex;
    text-align: center;
    padding-top: 82px;
    padding-bottom: 62px;
    justify-content: center;
}
.menu{
    position: relative;
}
.interior{
    position: relative;
}